* {
    margin: 0;
    padding: 0;

    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    filter: brightness(110%);
}

.centerDiv {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.box {
    background: radial-gradient(ellipse at top, hsl(213, 19%, 18%), transparent),
            radial-gradient(ellipse at bottom, hsl(216, 48%, 17%), transparent);
    max-width: 500px;
    width: 95%;

    border-radius: 30px;
}

.starIcon {
    padding: 13px 9px 13px 9px;
    margin: 30px;
    background-color: hsl(213, 19%, 18%);
    width: 25px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
}

.starIcon img {
    margin-left: 1px;
}

.box #title {
    margin: 30px 30px 0 30px;
    color: hsl(0, 0%, 100%);

    font-size: 30px;
    font-weight: 600;
}

.box #text {
    margin: 20px 30px 0 30px;
    color: hsl(217, 12%, 63%);

    font-size: 18px;
    letter-spacing: 1px;
}

.grades {
    display: flex;
    width: calc(100% - 60px);
    margin: 0 30px;
    justify-content: space-between;
}

.grade {
    cursor: pointer;
    margin: 30px 0;
    background-color: hsl(213, 19%, 18%);
    border-radius: 100px;

    width: 50%;
    max-width: 60px;

    display: flex;
    justify-content: center;

    transition: background-color .5s;
}

.grade:hover {
    background-color: hsl(217, 12%, 63%);
}

.grade p {
    padding: 20px;
    color: hsl(217, 12%, 63%);

    transition: color .5s;
}

.grade p:hover {
    color: hsl(0, 0%, 100%);
}

.gradeClick {
    cursor: pointer;
    margin: 30px 0;
    background-color: hsl(25, 97%, 53%);
    border-radius: 100px;

    width: 50%;
    max-width: 60px;

    display: flex;
    justify-content: center;

    transition: background-color .5s;
}

.gradeClick p {
    padding: 20px;
    color: hsl(0, 0%, 100%);

    transition: color .5s;
}

.submitButton {
    cursor: pointer;
    width: calc(100% - 60px);
    color: hsl(0, 0%, 100%);
    text-align: center;
    background-color: hsl(25, 97%, 53%);

    margin: 20px 30px;
    border-radius: 30px;
}

.submitButton p {
    padding: 15px;
    letter-spacing: 2px;
}

.submitButton:hover {
    background-color: hsl(217, 12%, 63%);
}

.readOnlySubmitButton {
    pointer-events: none;
    background-color: hsl(217, 12%, 63%);
}